
<!--  PANELS TO DISPLAY DIFFERENT TEAS -->
<section class="container">


<div class="row">
<div class="col-md-3">
	<div ng-controller="UserCtrl">
	  <span></span>
	  <form ng-submit="submit()" class="inline-form">
	    <input class="form-control" ng-model="user.username" type="text" name="user" placeholder="Username" />
	    <input class="form-control" ng-model="user.password" type="password" name="pass" placeholder="Password" />
	    <input class="btn btn-primary" type="submit" value="Login" />
	  </form>
</div>
</div>


</section>